<div class="bg-white p-top-80 p-bottom-80">
    <div class="container">
        <!-- AGENCY DETAIL -->
        <div class="row">

            <div class="col-lg-5 col-md-5 m-bottom-30">

                <div class="video-icon overlay-wrapper box-shadow-3">

                    <img class="full-width" alt="..." src="/assets/images/hhproperties.png">
                    

                </div>

            </div>

            <div class="col-lg-7 col-md-7 m-bottom-30">
                <h3 class="text-bold-700 m-bottom-10">Нашата история</h3>

                <div class="hr dark text-left m-bottom-20">
                    <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                    <div class="icons text-light">
                        <i class="fa fa-circle-o"></i>
                        <i class="fa fa-circle-o"></i>
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <hr class="border-3 border-double border-light border-left-0 border-top-0 border-right-0">
                </div>

                <div class="clearfix text-size-16">
                    <p>
                        ЕЙЧ ЕЙЧ ПРОПЪРТИ ЕООД е кантора за недвижими имоти, основана през януари 2007 г., със седемнадесетгодишен опит на управителя в областта на недвижимите имоти. През всички тези години основната идеология е била професионален и индивидуален подход към всеки един клиент, коректно, точно, правилно и бързо отношение към всеки един детайл и показател в дадена сделка с недвижими имоти. Резултатът – удовлетворени клиенти. Извършва посредничество при сделки с недвижими имоти основно в Пловдив и страната:
                    </p>
                    </div>
            </div>

        </div>
        <!-- /AGENCY DETAIL -->

    </div>
</div>

<div class="bg-light-3 p-top-80 p-bottom-50">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 m-top-40 m-bottom-40">

                <div class="service bg-white box-shadow-1 box-shadow-2-hover">
                    <div class="media">
                        <i class="fa fa-building-o bg-base text-white rounded-100 box-shadow-1 p-top-5 p-bottom-5 p-right-5 p-left-5"></i>
                    </div>
                    <div class="p-top-35 p-bottom-30 p-right-25 p-left-25">
                        <h4 class="text-bold-600 m-bottom-15">Продажба на недвижими имоти</h4>
                        <p>Продажба на жилищни недвижими имоти, оценки и всичко свързано със коректното изпълнение и завършване на сделката</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 m-top-40 m-bottom-40">

                <div class="service bg-white box-shadow-1 box-shadow-2-hover">
                    <div class="media">
                        <i class="fa fa-shield bg-base text-white rounded-100 box-shadow-1 p-top-5 p-bottom-5 p-right-5 p-left-5"></i>
                    </div>
                    <div class="p-top-35 p-bottom-30 p-right-25 p-left-25">
                        <h4 class="text-bold-600 m-bottom-15">Отдаване на имот под наем</h4>
                        <p>Работи с жилищни, промишлени, търговски, земеделски площи, офиси и отдаването им под наем</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 m-top-40 m-bottom-40">

                <div class="service bg-white box-shadow-1 box-shadow-2-hover">
                    <div class="media">
                        <i class="fa fa-bullhorn bg-base text-white rounded-100 box-shadow-1 p-top-5 p-bottom-5 p-right-5 p-left-5"></i>
                    </div>
                    <div class="p-top-35 p-bottom-30 p-right-25 p-left-25">
                        <h4 class="text-bold-600 m-bottom-15">Земеделски и индустриални земи</h4>
                        <p>Работи с промишлени, търговски, земеделски площи, урегулирани поземлени имоти</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

