
<div class="owl-carousel owl-theme owl-nav-wide" data-plugin-options="{'items': 1, 'margin': 10, 'nav': true, 'dots': false, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000}">
    <div class="bg-no-repeat bg-size-cover" style="background: url('../../assets/images/property/rsz_2.png');background-attachment: inherit">
        <div class="property">
            <div class="property-media overlay-wrapper p-top-100 p-bottom-50">
                <div class="container p-top-100">
                    <div class="badge badge-success p-top-8 p-right-12 p-bottom-8 p-left-12 rounded-0 text-size-14 m-bottom-20">For Sale</div>
                    <div class="clearfix"></div>
                </div>
                <div class="overlay bg-bg opacity-9"></div>
            </div>
        </div>
    </div>
    <div class="bg-property-slider-2 bg-no-repeat bg-size-cover">
        <div class="property">
            <div class="property-media overlay-wrapper p-top-100 p-bottom-50">
                <div class="container p-top-100">
                    <div class="badge badge-success p-top-8 p-right-12 p-bottom-8 p-left-12 rounded-0 text-size-14 m-bottom-20">For Sale</div>
                    <div class="clearfix"></div>
                </div>
                <div class="overlay bg-bg opacity-9"></div>
            </div>
        </div>
    </div>
    <div class="bg-property-slider-3 bg-no-repeat bg-size-cover">
        <div class="property">
            <div class="property-media overlay-wrapper p-top-100 p-bottom-50">
                <div class="container p-top-100">
                    <div class="badge badge-success p-top-8 p-right-12 p-bottom-8 p-left-12 rounded-0 text-size-14 m-bottom-20">For Rent</div>
                    <div class="clearfix"></div>
                </div>
                <div class="overlay bg-bg opacity-9"></div>
            </div>
        </div>
    </div>
</div>