@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light-3 p-top-80 p-bottom-80">
    <div class="container">

        <!-- REGISTER -->
        <div class="row">

            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6">

                <div class="row">

                    <div class="col-md-12">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a asp-controller="Users" asp-action="Login" class="btn btn-white text-bold-600 text-spacing-5 text-uppercase text-size-15 m-bottom-10 rounded-0 box-shadow-1 p-top-12 p-bottom-12 p-left-20 p-right-20">Вход</a>
                            </li>
                            <li class="list-inline-item">
                                <a asp-controller="Users" asp-action="Register"  class="btn btn-white text-bold-600 text-spacing-5 text-uppercase text-size-15 m-bottom-10 rounded-0 active box-shadow-3 p-top-12 p-bottom-12 p-left-20 p-right-20">Регистрация</a>
                            </li>
                        </ul>

                        <div class="tab-pane bg-white p-top-30 p-bottom-30 p-left-30 p-right-30 box-shadow-1">
                            <h3 class="text-bold-700 text-uppercase m-bottom-20  text-center">Регистрация</h3>
                            <form method="post" asp-controller="Users" asp-action="Register">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group text-center">
                                    <label asp-for="Username" class="text-bold-700 text-uppercase text-size-13">Потребителско име</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input asp-for="Username" type="text" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="Username" placeholder="Потребителско име...">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="FirstName" class="text-bold-700 text-uppercase text-size-13">Собствено име</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input asp-for="FirstName" type="text" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="FirstName" placeholder="Собствено име...">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="LastName" class="text-bold-700 text-uppercase text-size-13">Фамилно име</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input asp-for="LastName" type="text" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="LastName" placeholder="Фамилно име...">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="Email" class="text-bold-700 text-uppercase text-size-13">Е-мейл</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input asp-for="Email" type="email" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="Email" placeholder="Е-мейл...">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="PhoneNumber" class="text-bold-700 text-uppercase text-size-13">Телефон</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <input asp-for="PhoneNumber" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="PhoneNumber" placeholder="Телефон...">
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="Password" class="text-bold-700 text-uppercase text-size-13">Парола</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                        <input asp-for="Password" type="password" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="Password" placeholder="Парола...">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <label asp-for="ConfirmPassword" class="text-bold-700 text-uppercase text-size-13">Потвърждение на паролата</label>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-light-7 border-1 border-light rounded-0 width-40 text-center">
                                            <i class="fa fa-lock"></i>
                                        </div>
                                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg rounded-0 bg-light-5 text-size-14" name="ConfirmPassword" placeholder="Парола...">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group m-top-30">
                                    <input type="submit" class="btn btn-base rounded-0 text-bold-600 text-spacing-5 text-uppercase text-size-13 m-bottom-10 p-top-12 p-bottom-12 p-left-20 p-right-20" value="Регистрирай се">
                                </div>
                                <div class="clearfix">
                                    <a asp-controller="Users" asp-action="Login" class="text-base text-base-white-hover">Вече имате регистрация?</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-3"></div>

        </div>
        <!-- /REGISTER -->

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}