<footer class="footer">
    <div class="bg-dark p-top-60 p-bottom-30">
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <div class="border-1 border-solid border-dark border-top-0 border-left-0 border-right-0 p-bottom-40 m-bottom-40">

                        <div class="row">

                            <div class="col-md-6">
                                <!-- Begin: LOGO -->
                                <a asp-controller="Home" asp-action="Index" class="navbar-brand logo">
                                    <img class="full-width max-width-140 m-right-10" alt="iProperty" src="/assets/images/logo-white.png">
                                </a>
                                <span class="text-white">Продажба и отдаване под наем на недвижими имоти</span>
                                <!-- End: LOGO -->
                            </div>

                            <div class="col-md-6">
                                <!-- Begin: SOCIAL -->
                                <ul class="social-icons m-top-15 text-right">
                                    <li>
                                        <a class="btn btn-base rounded-0" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-base rounded-0" href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-base rounded-0" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-base rounded-0" href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-base rounded-0" href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                                <!-- End: SOCIAL -->
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="m-bottom-30">

                        <div class="row">

                            <div class="col-lg-6">
                                <h5 class="text-bold-700 m-bottom-30 text-white text-uppercase">За Контакти</h5>

                                <div class="row m-bottom-20">
                                    <div class="col-md-12">

                                        <p class="text-white">Адрес: гр.Пловдив, ул.Кап.Райчо 56 ТЦ Гранд</p>
                                        <p class="text-white">Phone: +359 888 888 888</p>
                                        <p class="text-white">E-Mail: <a class="text-base border-1 border-dotted border-light border-top-0 border-left-0 border-right-0" href="#">info@@hhproperties.com</a></p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">

                                <h5 class="text-bold-700 m-bottom-30 text-white text-uppercase">Новини</h5>

                                <div class="row m-bottom-20">
                                    <div class="col-md-12">

                                        <form asp-controller="News" asp-action="AddToNewsLetter" method="post">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="email" type="email" class="form-control form-control-lg rounded-0 bg-white text-size-14" placeholder="Въведете имейла си тук">
                                                    <button type="submit" class="input-group-addon btn btn-base rounded-0 text-bold-600 text-spacing-5 text-uppercase text-size-13  p-top-12 p-bottom-12 p-left-20 p-right-20"><i class="fa fa-envelope"></i></button>
                                                </div>
                                            </div>
                                            <p class="text-muted">Регистрирайте се за да получавате новостите в сферата на недвижимите имоти от Нас.</p>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="bg-base p-top-30 p-bottom-20">
        <div class="container">
            <p class="text-white text-center m-bottom-6">© DY Disigns Copyright 2018 <a class="text-white border-1 border-dotted border-light border-top-0 border-left-0 border-right-0" href="/">HH Property</a>. All Rights Reserved.</p>
        </div>
    </div>
</footer>


