@model List<RealEstateWeb.Models.ViewModels.Bookmark.BookmarkViewModel>
<div class="bg-light-3 p-top-80 p-bottom-80">
    <div class="container">

        <!-- DATA -->
        <div class="bg-white m-bottom-40 box-shadow-1">
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr class="valign-middle">
                        <th class="width-150 p-top-20 p-bottom-20" colspan="2">
                            <i class="fa fa-home"></i>
                            Имоти
                        </th>
                        <th class="p-top-20 p-bottom-20">
                            <i class="fa fa-magic"></i>
                            Действия
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                        {
                    <tr class="valign-middle">
                        <td>
                            <div class="row">
                                <a asp-controller="Bookmark" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-sm btn-danger text-size-11 text-uppercase text-bold-700 p-top-5 p-bottom-5 p-left-10 p-right-10 rounded-0"><i class="fa fa-remove"></i> Премахни</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /DATA -->
    </div>
</div>

