@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказан достъп";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Нямате достъп до тези ресурси.</p>
</header>
