@model RealEstate.Models.Identity.RegisterFormModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h2>Register</h2>
        </div>
    </div>
<div class="bg-light-3 p-top-80 p-bottom-80">
    <div class="container">

        <!-- REGISTER -->
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <form asp-controller="Users" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        <!-- /REGISTER -->

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}